<h1 mat-dialog-title>Üye Kaydı</h1>
<div mat-dialog-content>
  
    <mat-form-field appearance="fill">
      <mat-label>Ad</mat-label>
      <input matInput [(ngModel)]="ad">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Soyad</mat-label>
      <input matInput [(ngModel)]="soyad">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Başlangıç Tarihi</mat-label>
      <input matInput [matDatepicker]="baslangicPicker" [(ngModel)]="baslangictarihi" placeholder="GG.AA.YYYY">
      <mat-datepicker-toggle matSuffix [for]="baslangicPicker"></mat-datepicker-toggle>
      <mat-datepicker #baslangicPicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Bitiş Tarihi</mat-label>
      <input matInput [matDatepicker]="bitisPicker" [(ngModel)]="bitistarihi" placeholder="GG.AA.YYYY">
      <mat-datepicker-toggle matSuffix [for]="bitisPicker"></mat-datepicker-toggle>
      <mat-datepicker #bitisPicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Doğum Tarihi</mat-label>
      <input matInput [matDatepicker]="dogumPicker" [(ngModel)]="dogumtarihi" placeholder="GG.AA.YYYY">
      <mat-datepicker-toggle matSuffix [for]="dogumPicker"></mat-datepicker-toggle>
      <mat-datepicker #dogumPicker></mat-datepicker>
    </mat-form-field>
        
      
      <mat-form-field appearance="fill">
        <mat-label>Meslek</mat-label>
        <input type="text" matInput [(ngModel)]="meslek">
        
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cep Telefonu</mat-label>
        <input type="text" matInput [(ngModel)]="ceptelefonu">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Özel Durum</mat-label>
        <input type="text" matInput [(ngModel)]="ozeldurum">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kan Grubu</mat-label>
        <input type="text" matInput [(ngModel)]="kangrubu">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cinsiyet</mat-label>
        <input type="text" matInput [(ngModel)]="cinsiyet">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Branş</mat-label>
        <input type="text" matInput [(ngModel)]="brans">
        
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Paket Seçimi</mat-label>
        <mat-select [(ngModel)]="selectedPaketId">
          <mat-option *ngFor="let paket of paketler" [value]="paket.id" >
            {{ paket.paketadi }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
     {{yazi}}  
</div>
<br>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">İptal</button>
  <button mat-button color="primary" (click)="onSave()">Kaydet</button>
</div>
